body {
	font: 14px/22px "Helvetica Neue","Helvetica", Arial, sans-serif;
	background: #f4f4f4;
	-webkit-font-smoothing: antialiased;
}

div.container {
	width: 800px;
	margin: 0 auto;
	padding: 2em 0;
	text-align: justify;
}

#appIcon {
	width: 72px;
	height: 72px;
	background:url(Icon-72@2x.png);
	-webkit-background-size: 72px 72px;
	background-size: 72px 72px;
	margin: 0 auto;
}

header {
	text-align: center;
}

header h1 {
	font-size: 3em;
	line-height: 2em;
	color: #e08d33;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 171, 103)), to(rgb(214, 112, 0)));
	background-image: -webkit-linear-gradient(top, rgb(234, 171, 103), rgb(214, 112, 0));
	background-image: linear-gradient(top, rgb(234, 171, 103), rgb(214, 112, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	font-weight: normal;
}

form {
	text-align: center;
	margin: 2em;
}

footer p {
	font-size: .8em;
	text-align: center;
	line-height: 1.3em;
}

div.container > div {
	text-align: center;
}

div.container > div > span {
	display: inline-block;
	width: 100%;
	font-size: 1.5em;
	margin: 2em 0;
	color: #008f00;
}

a#uploadMore {
	color:white;
	background-color: #c96800;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(216, 112, 0)), to(rgb(186, 97, 0)));
	background-image: -webkit-linear-gradient(top, rgb(216, 112, 0), rgb(186, 97, 0));
	background-image: -moz-linear-gradient(top, rgb(216, 112, 0), rgb(186, 97, 0));
	background-image: -o-linear-gradient(top, rgb(216, 112, 0), rgb(186, 97, 0));
	background-image: -ms-linear-gradient(top, rgb(216, 112, 0), rgb(186, 97, 0));
	background-image: linear-gradient(top, rgb(216, 112, 0), rgb(186, 97, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d87000', EndColorStr='#ba6100');
	-webkit-box-shadow: inset 0 0 0 1px #8c4800, inset 0 2px 0 rgba(255,255,255,.32);
	-moz-box-shadow: inset 0 0 0 1px #8c4800, inset 0 2px 0 rgba(255,255,255,.32);
	box-shadow: inset 0 0 0 1px #8c4800, inset 0 2px 0 rgba(255,255,255,.32);
	text-decoration: none;
	padding: 10px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 1em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 1.2em;
	text-shadow: 0 -1px 0 black;
}

a#uploadMore:hover {
	background-color: #cc7314;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(219, 123, 20)), to(rgb(190, 108, 20)));
	background-image: -webkit-linear-gradient(top, rgb(219, 123, 20), rgb(190, 108, 20));
	background-image: -moz-linear-gradient(top, rgb(219, 123, 20), rgb(190, 108, 20));
	background-image: -o-linear-gradient(top, rgb(219, 123, 20), rgb(190, 108, 20));
	background-image: -ms-linear-gradient(top, rgb(219, 123, 20), rgb(190, 108, 20));
	background-image: linear-gradient(top, rgb(219, 123, 20), rgb(190, 108, 20));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#db7b14', EndColorStr='#be6c14');
}

a#uploadMore:active {
	background-color: #b96000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(199, 103, 0)), to(rgb(171, 89, 0)));
	background-image: -webkit-linear-gradient(top, rgb(199, 103, 0), rgb(171, 89, 0));
	background-image: -moz-linear-gradient(top, rgb(199, 103, 0), rgb(171, 89, 0));
	background-image: -o-linear-gradient(top, rgb(199, 103, 0), rgb(171, 89, 0));
	background-image: -ms-linear-gradient(top, rgb(199, 103, 0), rgb(171, 89, 0));
	background-image: linear-gradient(top, rgb(199, 103, 0), rgb(171, 89, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#c76700', EndColorStr='#ab5900');
}
