# Xcode
*.mode*
*.pbxuser
xcuserdata
*.xccheckout

# macOS
.DS_Store

# Fastlane
buildsystem/fastlane/Preview.html
buildsystem/fastlane/report.xml
buildsystem/fastlane/screenshots/*/*.png
buildsystem/fastlane/screenshots/screenshots.html
buildsystem/fastlane/test_output

# CocoaPods
Pods

# Private Constants
0001-privateConstants.patch

# Others
build
DerivedData
External
ImportedSources
!Makefile
.idea/
.*.sw[nop]
