# Xcode
xcuserdata
*.xccheckout
*.pbxuser
*.mode*

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output

fastlane/screenshots/*/*.png
fastlane/screenshots/screenshots.html

# CocoaPods
Pods

# Private Constants
0001-privateConstants.patch

# Others
!Makefile
build
External
ImportedSources
DerivedData

