Felix Paul Kühne <fkuehne@videolan.org>
<fkuehne@videolan.org> <fpk@Bartleby.local>
<fkuehne@videolan.org> <fpk@Felix-Kuhnes-MacBook.local>
<fkuehne@videolan.org> <fpk@felix-kuhnes-macbook.local>
<fkuehne@videolan.org> <felix@serioese.gmbh>
<fkuehne@videolan.org> <felix@feepk.net>
Marc Etcheverry <marc@taplightsoftware.com> <marcetcheverry@gmail.com>
Soomin Lee <bubu@mikan.io>
<bubu@mikan.io> <thehungrybu@gmail.com>
Carola Nitz <nitz.carola@googlemail.com>
<nitz.carola@googlemail.com> <deploy@Caro.local>
Edgar Fouillet <vlc@edgar.fouillet.eu>
<vlc@edgar.fouillet.eu> <fouillet.edgar@outlook.fr>
