<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>IntentPhrases</key>
    <array>
      <dict>
        <key>IntentName</key>
        <string>INSearchForMediaIntent</string>
        <key>IntentExamples</key>
        <array>
          <string>在 VLC 搜索 Jacques Brel</string>
        </array>
      </dict>
      <dict>
        <key>IntentName</key>
        <string>INAddMediaIntent</string>
        <key>IntentExamples</key>
        <array>
          <string>添加媒体文件到VLC</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
