/* YUI CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{border-collapse:collapse;border-spacing:0;} fieldset,img{border:0;} address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} ol,ul{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';} abbr,acronym{border:0;}

body {
  font: 14px/22px "Helvetica Neue","Helvetica", Arial, sans-serif;
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
}

div.container {
  width: 800px;
  margin: 0 auto;
  padding: 2em 0;
  text-align: justify;
}

#appIcon {
  width: 72px;
  height: 72px;
  background:url(Icon-72@2x.png);
  -webkit-background-size: 72px 72px;
  background-size: 72px 72px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3em;
  line-height: 2em;
  color: #e08d33;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 171, 103)), to(rgb(214, 112, 0)));
  background-image: -webkit-linear-gradient(top, rgb(234, 171, 103), rgb(214, 112, 0));
  background-image: linear-gradient(top, rgb(234, 171, 103), rgb(214, 112, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight: normal;
}

#progress {
  width: 100%;
  background-color: red;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(170, 170, 170)), to(rgb(200, 200, 200)));
  background-image: -webkit-linear-gradient(top, rgb(170, 170, 170), rgb(200, 200, 200));
  background-image: linear-gradient(top, rgb(170, 170, 170), rgb(200, 200, 200));
}

#progress .bar {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 171, 103)), to(rgb(214, 112, 0)));
  background-image: -webkit-linear-gradient(top, rgb(234, 171, 103), rgb(214, 112, 0));
  background-image: linear-gradient(top, rgb(234, 171, 103), rgb(214, 112, 0));
}

form {
  text-align: center;
  margin: 2em;
}

footer p {
  font-size: .8em;
  text-align: center;
  line-height: 1.3em;
}
