/* @override http://localhost:8000/style.css */

/* YUI CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,nav,header,footer{margin:0;padding:0;} table{border-collapse:collapse;border-spacing:0;} fieldset,img{border:0;} address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} ol,ul{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';} abbr,acronym{border:0;}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px/22px "Helvetica Neue","Helvetica", Arial, sans-serif;
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: rgb(31,31,31);
  background-position: 0 88px;
}

div.main {
  border: 2px solid transparent;
  position: absolute;
  top: 88px;
  bottom: 0;
  left: 0;
  right: 0;
}

div.main.drop {
  border: 2px solid yellow;
}

#header {
  text-align: center;
  height: 88px;
  background-color: #c95a07;
  background-image: url(navBarBackground@2x.png);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.nav {
  height: 88px;
  padding: 14px;
  background-image: url(title@2x.png);
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  display: inline-block;
  background-color: transparent;

  border: 2px solid #8c4800;
  border-radius: 10px;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#d87306), to(#ba6100));
  background-image: -webkit-linear-gradient(top, #d87306, #ba6100);
  background-image: -moz-linear-gradient(top, #d87306, #ba6100);
  background-image: -ms-linear-gradient(top, #d87306, #ba6100);
  background-image: -o-linear-gradient(top, #d87306, #ba6100);
  background-image: linear-gradient(top, #d87306, #ba6100);

  box-shadow: inset 0px 3px 0px -1px #e09d54, 0px 3px 0px -1px rgba(255,255,255,0.1);

  color: white;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 52px;

  text-align: center;
  text-shadow: 2px 2px 0px #783704;
  padding: 0 12px;  
  height: 58px;
  cursor: pointer;  
}
.btn:active{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c36707), to(#a85600));
  background-image: -webkit-linear-gradient(top, #c36707, #a85600);
  background-image: -moz-linear-gradient(top, #c36707, #a85600);
  background-image: -ms-linear-gradient(top, #c36707, #a85600);
  background-image: -o-linear-gradient(top, #c36707, #a85600);
  background-image: linear-gradient(top, #c36707, #a85600);

  box-shadow: inset 0px 3px 0px -1px #d39554, 0px 3px 0px -1px rgba(255,255,255,0.1);
}

.linkBtn {
  float: left;
  width: 82px;
}
.linkBtn .icon {
  height: 60px;
  background-image: url(menuCone@2x.png);
  background-position: 8px 6px;
  background-repeat: no-repeat;
}
.uploadBtn {
  float: right;
  position: relative;
  overflow: hidden;
}

#fileupload {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1000px !important;
  cursor: pointer;
}

.message {
  margin: 100px 0px;
}
.message h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  line-height: 60px;
}
.message p {
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.uploads li {
  height: 80px;
  padding: 0 20px;
  position: relative;
}
.uploads li:nth-child(2n) {
  background-color: rgba(0,0,0,0.2);
}
.uploads .filename {
  font-size: 20px;
  line-height: 50px;
  text-align: left;
}
.uploads .progress {
  height: 14px;
  background-color: rgb(40,40,40);
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  box-shadow: inset 0px -3px 10px 0px rgba(255,255,255,0.1);
}
.uploads .progress .bar {
  background-color: #c95a07;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d87306), to(#ba6100));
  background-image: -webkit-linear-gradient(top, #d87306, #ba6100);
  background-image: -moz-linear-gradient(top, #d87306, #ba6100);
  background-image: -ms-linear-gradient(top, #d87306, #ba6100);
  background-image: -o-linear-gradient(top, #d87306, #ba6100);
  background-image: linear-gradient(top, #d87306, #ba6100);

  box-shadow: inset 0px 3px 0px -1px #e09d54, 0px 3px 0px -1px rgba(255,255,255,0.1);
}

.uploads li.fail .progress .bar {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.uploads .progress .dots {
  padding: 0 8px;
  line-height: 0px;
  font-size: 20px;
  font-weight: bold;
  float: left;
  color: #c95a07;
}
.uploads .progress .dots:before {
  content: "uploading ";
  color: white;
  line-height: 12px;
  font-size: 12px;
}

.uploads li.fail .progress:before,
.uploads li.done .progress .bar:before {
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 12px;
  float: right;
}
.uploads li.fail .progress:before {
  content: "File transfer failed";
  color: #c95a07;
}
.uploads li.done .progress .bar:before {
  content: "File transfer complete";
  color: white;
}
.uploads li:hover .stop {
  display: block;
}
.uploads li.done:hover .stop,
.uploads li.fail:hover .stop {
  display: none;
}
.uploads .stop {
  border: 3px solid white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #bd1421;

  position: absolute;
  top: 8px;
  right: 8px;

  box-shadow: inset 3px 10px 4px -4px rgba(255,255,255,0.3);
  cursor: pointer;
  display: none;
}
.uploads .stop:before {
  content: "-";
  font-size: 46px;
  line-height: 12px;
  text-align: center;
  width: 100%;
  padding: 1px;
}

#footer {
  font-size: .9em;
  line-height: 1.3em;
  margin-top: 40px;
  padding-bottom: 8px; 
  text-align: center;
  color: rgb(120, 120, 120);
  text-shadow: 1px 1px 2px black;
}
#footer a{
  color: #c95a07;
}

