<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VLC</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Video Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audiovisual-content</string>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.avi</string>
				<string>com.microsoft.advanced-systems-format</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
				<string>public.mpeg-4</string>
				<string>public.mpeg</string>
				<string>com.microsoft.windows-media-wm</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>com.real.realmedia</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.mpeg4</string>
				<string>org.videolan.mxg</string>
				<string>org.videolan.webm</string>
				<string>org.videolan.mxf</string>
				<string>org.matroska.mkv</string>
				<string>org.videolan.mts</string>
				<string>com.divx.divx</string>
				<string>org.xiph.ogv</string>
				<string>org.videolan.hevc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Audio Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>public.mp3</string>
				<string>public.mpeg-4-audio</string>
				<string>public.ulaw-audio</string>
				<string>public.aifc-audio</string>
				<string>public.aiff-audio</string>
				<string>com.microsoft.waveform-​audio</string>
				<string>com.microsoft.windows-​media-wma</string>
				<string>com.real.realaudio</string>
				<string>org.videolan.vlc</string>
				<string>org.videolan.w64</string>
				<string>org.videolan.oma</string>
				<string>org.videolan.caf</string>
				<string>org.videolan.opus</string>
				<string>org.videolan.flac</string>
				<string>org.xiph.oga</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Subtitles Files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.videolan.srt</string>
				<string>org.videolan.sub</string>
				<string>org.videolan.cdg</string>
				<string>org.videolan.idx</string>
				<string>public.utf</string>
				<string>org.videolan.ass</string>
				<string>org.videolan.ssa</string>
				<string>org.videolan.aqt</string>
				<string>org.videolan.jss</string>
				<string>org.videolan.psb</string>
				<string>org.videolan.rt</string>
				<string>org.videolan.smi</string>
				<string>org.videolan.smil</string>
				<string>com.real.smil</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VLC for iOS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>RTSP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtsp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Multimedia Stream URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mms</string>
				<string>mmsh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>UDP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>udp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>RTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>RTMP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rtmp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>SFTP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>FTP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>SMB</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Dropbox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-a60fc6qj9zdg7bw</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>VLC</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vlc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>x-callback-url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vlc-x-callback</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>GoogleAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.CLIENT</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
		<string>INAddMediaIntent</string>
		<string>INSearchForMediaIntent</string>
	</array>
	<key>INSupportedMediaCategories</key>
	<array>
		<string>INMediaCategoryVideo</string>
		<string>INMediaCategoryMusic</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-2</string>
		<string>dbapi-8-emm</string>
		<string>msauth</string>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MLKitGroupIdentifier</key>
	<string>$(GROUP_IDENTIFIER)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_sftp-ssh._tcp.</string>
		<string>_nfs._tcp.</string>
		<string>_plexmediasvr._tcp.</string>
		<string>_http._tcp.</string>
		<string>_ftp._tcp.</string>
		<string>_smb._tcp.</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Enable access to Face ID to unlock VLC</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>In order to discover media servers we will need access to your local network. This is also needed to find Chromecast devices.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>In order to save the video we will need access to your camera roll</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>In order to save the video we will need access to your camera roll</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.videolan.vlc-ios.librarymode</string>
		<string>org.videolan.vlc-ios.libraryselection</string>
		<string>org.videolan.vlc-ios.playing</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>VLCCarPlayScene</string>
					<key>UISceneDelegateClassName</key>
					<string>VLCCarPlaySceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>VLCDefaultAppScene</string>
					<key>UISceneDelegateClassName</key>
					<string>VLCAppSceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplay</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>VLCNonInteractiveWindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>VLCNonInteractiveWindowSceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplayNonInteractive</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>VLCNonInteractiveWindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>VLCNonInteractiveWindowSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIWhitePointAdaptivityStyle</key>
	<string>UIWhitePointAdaptivityStyleVideo</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ogv</string>
				<key>public.mime-type</key>
				<string>video/ogg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.oga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
					<string>oga</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/ogg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.avi</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DivX</string>
			<key>UTTypeIdentifier</key>
			<string>com.divx.divx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>divx</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mkv</string>
				<key>public.mime-type</key>
				<string>video/x-matroska</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mka</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mka</string>
				<key>public.mime-type</key>
				<string>audio/x-matroska</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flac</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.flac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>flac</string>
				<key>public.mime-type</key>
				<string>audio/x-flac</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPUS</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.opus</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>opus</string>
				<key>public.mime-type</key>
				<string>audio/opus</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.video</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MXF</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.mxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mxf</string>
				<key>public.mime-type</key>
				<string>application/mxf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.video</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>webm</string>
				<key>public.mime-type</key>
				<string>video/webm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.video</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MXG</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.mxg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>mxg</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CAF</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.caf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>caf</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OMA</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.oma</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oma</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>w64</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.w64</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>w64</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>srt</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.srt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>srt</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>sub</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.sub</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>sub</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>cdg</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.cdg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cdg</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>idx</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.idx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>idx</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ass</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.ass</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ass</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ssa</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.ssa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>ssa</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>publiic.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>aqt</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.aqt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>aqt</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>jss</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.jss</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>jss</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>psb</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.psb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>psb</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>rt</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.rt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rt</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>smi</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.smi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>smi</string>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>vlc fake file</string>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.vlc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>vlc</string>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>mts</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.mts</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>hevc</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.hevc</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>com.apple.developer.networking.multicast</key>
	<true/>
</dict>
</plist>
